.contact-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
    border-radius: 20px;
}

.contact-info, .contact-form {
    width: 45%;
    color: #000000;
    font-size: 1em; 
    line-height: 1.5em
}

.contact-title{
    padding: 20px;
    line-height: 1.5em
}

.form-title{
    padding: 20px;
    line-height: 1.5em
}

strong{
    color: #000000;
    
}

.contact-info h1, .contact-form h1 {
    margin-top: 0;
}

.contact-info p {
    margin: 5px 0;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}